/ucef_projects/EPMultipleSims_v4/EPMultipleSims_v4_deployment/logs
/ucef_projects/EPMultipleSims_v3/EPMultipleSims_v3_deployment/logs
/ucef_projects/KalebsFed/KalebsFed_deployment/logs
/ucef_projects/randNum_noTimeDelay/randNum_noTimeDelay_deployment/logs
